@import '../config';

.Navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 1.5rem;
  height: 10rem;
  // border: 1px solid red;
}

.logo {
  width: 10rem;
  cursor: pointer;
}

ul {
  // border: 1px solid red;
  list-style: none;
  @include reset-gutter;
  @include flex-all-center;
  margin-right: 5rem;
  li {
    color: $light-color;
    font-size: 2.5rem;
    line-height: 4rem;
    margin: 0 2rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $main-color;
      text-shadow: 0.3rem 0.3rem 0.5rem #000;
    }
  }
}
